*~
info/afaire.txt
php/folksoFabula.php
tests/*.xml
info/tagload.pl
info/Thesaurus*
info/thesaurus*
tests/bad_urls.txt
folksologfile
*#/info/plugin-notes.txt
/info/plugin-notes.txt
/info/webservice.txt
/sql/tables/resourceban.sql
/tests/resdump.sql
/tests/sql_debug.pl
/info/#afaire.txt#
/php/#folksoPage.php#
/info/folksodump.sql
/thisisfolkso
/js/exp.js

