*~
info/afaire.txt
php/folksoFabula.php
tests/*.xml
info/tagload.pl
info/Thesaurus*
info/thesaurus*
tests/bad_urls.txt
folksologfile
*#/info/plugin-notes.txt
/info/plugin-notes.txt
/info/webservice.txt
/sql/tables/resourceban.sql
/tests/resdump.sql
/tests/sql_debug.pl
/info/#afaire.txt#
/php/#folksoPage.php#
/info/folksodump.sql
/thisisfolkso
/js/exp.js
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/info/gefen-clouds.txt
/info/rss-notes.txt
/js/ean13-tidbit.js
/css/tout.css
/tests/flooop.html
/php/GPATH
/php/GRTAGS
/php/GSYMS
/php/GTAGS
/tests/nouvelles_admin.pl.html
/tests/nouvelles_admin.pl_files/style_admin_nouvelles.css
/tests/GPATH
/tests/GRTAGS
/tests/GSYMS
/tests/GTAGS
/php/#folksoTagdata.php#
/php/.#folksoTagdata.php
/sql/#res-mgt.sql#
